# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\repositorio\Struts2.5\Person\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
